# Node modules
node_modules/

# Log files
*.log
npm-debug.log*

# Env file
.env
.env.*

# Coverage & cache
coverage/
.nyc_output/
.cache/
.eslintcache
.stylelintcache

# TypeScript cache (jika kamu pakai TS nanti)
*.tsbuildinfo

# Pack output
*.tgz

# REPL history
.node_repl_history

# VSCode test environment
.vscode-test/

# Scraping data (jika kamu save hasilnya ke file)
scraped-data.json
temp/
